# This is a basic workflow to help you get started with Actions

name: Generate EPG

# Controls when the action will run. 
on:
  schedule:
    - cron: '00 14 * * *'

  pull_request:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      #- name: Run a one-line script
      #  run: echo testing!

      # Runs a set of commands using the runners shell 
      - name: config
        run: |
          git pull
          git config --global user.email "reinmclaren33@gmail.com"
          git config --global user.name "Faizal Hamzah"

      - name: update streams
        run: |
          pwd
          cd epg/scripts
          pip install lxml
          bash gen-epg.sh
          python index.py ../guide.xml local.txt "12537.stream.ip.tv Playlist" https://12537-stream-ip-tv.xyz
          cd ../..

      - name: git add
        run: |
          git add -A
          ls -la

      - name: commit & push
        run: |
          git commit -m "Generate EPG"
          git push
